{% extends "base.twig" %}

{% block content %}
  {{ function('acf_form_head') }}
  <section class="hero hero-fullheight bg-dark text-white">
    <div class="hero-head">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#">baevo</a>
          <button 
            class="navbar-toggler" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbarNav" 
            aria-controls="navbarNav" 
            aria-expanded="false" 
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              {% for menu_item in menu_primary.items %}
                <li class="nav-item">
                  <a 
                    class="nav-link {% if menu_item.current %} active {% endif %}"
                    href="{{ menu_item.link }}">
                      {{ menu_item.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>          
      </nav>
    </div>
    <div class="hero-body">
      <div class="container">
        <h1>{{ section_cover.tagline }}</h1>
      </div>
    </div>
  </section>
  
  <section class="section" id="servicios">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6">
          <h2>{{ section_services.title }}</h2>
          <p>{{ section_services.subtitle }}</p>
        </div>
        <div class="col-12 col-md-6">
          {% for service in section_services.services %}
            <h5>{{ service.title }}</h5>
            <p>{{ service.description}}</p>         
          {% endfor %}
         </div>
      </div>
    </div>
  </section>
  
  <section class="section bg-light" id="portfolio">
    <div class="container">
      <div class="row" style="margin-bottom: 9rem">
        <div class="col-12 col-md-6 offset-md-3 text-center">
          <h2>{{ section_portfolio.title }}</h2>
          <p>{{ section_portfolio.subtitle }}</p>
        </div>
      </div>
      <ul class="row list-unstyled">
        {% for portfolio_item in portfolio %}
          <li class="col-12 col-md-6">
            <figure>
              <img 
                class="img-fluid"
                src="{{ TimberImage(portfolio_item.get_field('image')).src }}" 
                alt="{{ TimberImage(portfolio_item.get_field('image')).alt }}" 
              />
              <figcaption>
                <div class="figcaption-content text-center">
                  <h5>{{ portfolio_item.title }}</h5>
                  <p>{{ portfolio_item.terms('category') | join(', ') }}</p>
                </div>
              </figcaption>
            </figure>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <section class="section" id="sobre-nosotros">
    <div class="container">
      <div class="row" style="margin-bottom: 9rem">
        <div class="col-12 col-md-6 offset-md-3 text-center">
          <h2>{{ section_about.title }}</h2>
          <p>{{ section_about.subtitle }}</p>
        </div>
      </div>
      <ul class="row list-unstyled"> 
        {% for worker in section_about.workers %}
          <li class="col-12 col-md-4 text-center">
            <img 
              class="img-fluid"
              width="150"
              height="150"
              src="{{ TimberImage(worker.image).src }}" 
              alt="{{ TimberImage(worker.image).alt }}" 
            />
            <h5>{{ worker.name }}</h5>
            <p class="small">{{ worker.work }}</p>
            <p>{{ worker.description }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  
  <section class="section bg-light" id="contacto">
    <div class="container">
      <div class="row" style="margin-bottom: 9rem">
        <div class="col-12 col-md-6 offset-md-3 text-center">
          <h2>{{ section_contact.title }}</h2>
          <p>{{ section_contact.subtitle }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <h5>informacion de contacto</h5>
          <p>
            {{ section_contact.email }}
            <br/>
            {{ section_contact.address }}
            <br/>
            {{ section_contact.phone }}
          </p>
        </div>
        <div class="col-12 col-md-6">
          <h5>escribenos un mensaje</h5>
          {{ function('acf_form', 'new-contact') }}
        </div>
      </div>
    </div>
  </section>
{% endblock %}