{% extends "base.twig" %}

{% block content %}
  {{ function('acf_form_head') }}
  <div class="container">
    <ul class="nav">
      {% for menu_item in menu_primary.items %}
        <li class="nav-item">
          <a 
            class="nav-link {% if menu_item.current %} active {% endif %}"
            href="{{ menu_item.link }}">
              {{ menu_item.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <h1>{{ section_cover.tagline }}</h1>
  </div>

  <div class="container">
    <h2>{{ section_services.title }}</h2>
    <p>{{ section_services.subtitle }}</p>
    <div class="row">
      {% for service in section_services.services %}
        <div class="col-12">
          <h5>{{ service.title }}</h5>
          <p>{{ service.description}}</p>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="container">
    <h2>{{ section_portfolio.title }}</h2>
    <p>{{ section_portfolio.subtitle }}</p>
    <div class="row">
      {% for portfolio_item in portfolio %}
        <div class="col-6">
          <h5>{{ portfolio_item.title }}</h5>
          <p>{{ portfolio_item.terms('category') | join(', ') }}</p>
          <img 
            class="img-fluid"
            src="{{ TimberImage(portfolio_item.get_field('image')).src }}" 
            alt="{{ TimberImage(portfolio_item.get_field('image')).alt }}" 
          />
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="container">
    <h2>{{ section_about.title }}</h2>
    <p>{{ section_about.subtitle }}</p>
    <div class="row">
      {% for worker in section_about.workers %}
        <div class="col-12">
          <img 
            class="img-fluid"
            width="150"
            height="150"
            src="{{ TimberImage(worker.image).src }}" 
            alt="{{ TimberImage(worker.image).alt }}" 
          />
          <h5>{{ worker.name }}</h5>
          <p class="small">{{ worker.work }}</p>
          <p>{{ worker.description }}</p>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="container">
    <h2>{{ section_contact.title }}</h2>
    <p>{{ section_contact.subtitle }}</p>
    {{ function('acf_form', 'new-contact') }}
  </div>
{% endblock %}