{% extends "base.twig" %}

{% block content %}
  <div class="container">
    <ul class="nav">
      {% for menu_item in menu_primary.items %}
        <li class="nav-item">
          <a 
            class="nav-link {% if menu_item.current %} active {% endif %}"
            href="{{ menu_item.link }}">
              {{ menu_item.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <h1>{{ section_cover.tagline }}</h1>
  </div>

  <div class="container">
    <h2>{{ section_portfolio.title }}</h2>
    <p>{{ section_portfolio.subtitle }}</p>
    <div class="row">
      {% for portfolio_item in portfolio %}
        <div class="col-6">
          <h5>{{ portfolio_item.title }}</h5>
          <p>{{ portfolio_item.terms('category') | join(', ') }}</p>
          <img 
            class="img-fluid"
            src="{{ TimberImage(portfolio_item.get_field('image')).src }}" 
            alt="{{ TimberImage(portfolio_item.get_field('image')).alt }}" 
          />
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}